<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personaliza tu CV</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../styles/cv-3.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Plantilla: CV - 3</h1>
            <p><strong>Descripcion:</strong></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis est laborum eveniet architecto provident dicta beatae officia laboriosam dolores hic?</p>
        </header>
        <section class="structure">
            <div class="foto">
                <img src="../img/user-icon.png" alt="">
            </div>
            <div class="dates">
                <div class="personales">
                    <h3>Datos Personales:</h3>
                    <ul>
                        <li>Nombre: ...</li>
                        <li>Apellido: ...</li>
                        <li>Nacionalidad: ...</li>
                    </ul>
                </div>
                <div class="academicos">
                    <h3>Datos Academicos:</h3>
                    <ul>
                        <li>Secundario: ...</li>
                        <li>Terciario: ...</li>
                        <li>Universitario: ...</li>
                        <li>Doctorados: ...</li>
                    </ul>
                </div>
                <div class="laboral">
                    <h3>Experiencia Laboral:</h3>
                    <ul>
                        <li>Lugar de Trabajo: ...</li>
                        <li>Años/Tiempo de trabajo: ...</li>
                        <li>Puesto: ...</li>
                    </ul>
                </div>
            </div>
        </section>

    </div>
    
</body>
</html>