<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personaliza tu CV</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <div id="container">
        <header class="encabezado">
            <h1>Plantillas para Curriculums</h1>
        </header>
        <section class="sec-basicos">
            <header>
                <h1>Diseños Basicos:</h1>
                <hr>
            </header>
            <div>
                <h3><a target="_blank" href="cv-1.html">CV - 1</a></h3>
                <img src="../img/cv-1-miniatura.jpg" alt="">
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sit velit cupiditate quidem voluptatem atque quasi quaerat tempore vero ipsum, harum laudantium? Excepturi magnam incidunt placeat natus sapiente rem sed.</p>
            </div>
            <div>
                <h3><a target="_blank" href="cv-2.html">CV - 2</a></h3>
                <img src="../img/cv-2-miniatura.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sit velit cupiditate quidem voluptatem atque quasi quaerat tempore vero ipsum, harum laudantium? Excepturi magnam incidunt placeat natus sapiente rem sed.</p>
            </div>
            <div>
                <h3><a target="_blank" href="cv-3.html">CV - 3</a></h3>
                <img src="../img/cv-3-miniatura.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis dolor dignissimos incidunt voluptatibus possimus, nesciunt sapiente et magnam sed quibusdam provident iusto aliquam atque qui assumenda sit expedita doloremque ad.</p>
            </div>
        </section>
    </div>
</body>
</html>